body{
    box-sizing: border-box;
    background-image: url("../images/pngbigumbrella.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: newFont;
    src: url("../YanoneKaffeesatz-Light.otf");
}

header{
    background: white;
    font-family: newFont, sans-serif;
    color: #fdc500;
    font-size: 48px;
    text-align: center;
}

#startDiv{
    text-align: center;
}

#start{
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: newFont, sans-serif;
    font-size: 24px;
    border: 1px solid black;
    opacity: 0.9;
    margin-top: 200px;
}

.questionheading{
    font-family: newFont, sans-serif;
    font-size: 28px;
    color: black;
    background: white;
    border: 1px solid black;
    opacity: 0.9;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

#timer{
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: newFont;
    color: black;
    font-size: 32px;
    opacity: 0.9;
    margin-left: 50px;
    text-align: center;
}

#submitButtonDiv{
    text-align: center;
}

#submitbutton{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid black;
    opacity: 0.9;
}


form{
    font-size: 18px;
    opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 100px;
}

#results{
    background: white;
    border: 1px solid black;
    opacity: 0.9;
    font-family: newFont;
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}

#missed{
    margin-top: 15px;
}

#scoreMessage{
    margin-top: 15px;
}

label{
    font-size: 22px;
    margin-top: 10px;
    font-family: 'EB Garamond', serif;
    margin-left: 20px;
}